h2, h3{
    text-align: center;
}

.score, .time{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 120px;
    padding: 0.4em;
    margin-bottom: 1em;

    color: rgb(17, 53, 58);
  background-color: rgb(12, 242, 250);
    font-weight: bold;
    border-radius: 5px;
}

.time{
    width: 160px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 312px;
  width: 312px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid black;

}

.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}


.newgame-btn{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.btn {
  padding: 0.5em;
  background-color: rgb(17, 53, 58);
  color: rgb(12, 242, 250);
  border-radius: 0.5em;
}

.btn:hover {
  cursor: pointer;
  color: rgb(17, 53, 58);
  background-color: rgb(12, 242, 250);
  translate: 0 -2px;
  transition: all 0.18s;
}
