* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 3vh;
}

.score{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
    padding: 0.4em;
    margin-bottom: 1em;

    color: rgb(17, 53, 58);
  background-color: rgb(12, 242, 250);
    font-weight: bold;
    border-radius: 5px;
}


.newgame-btn{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.btn {
  padding: 0.5em;
  background-color: rgb(17, 53, 58);
  color: rgb(12, 242, 250);
  border-radius: 0.5em;
}

.btn:hover {
  cursor: pointer;
  color: rgb(17, 53, 58);
  background-color: rgb(12, 242, 250);
  translate: 0 -2px;
  transition: all 0.18s;
}
 
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

